@import url('https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap');


.grid-background {
  @media (max-width: 768px) {
    .row {
      width: 100%;
      /* Override width for mobile */
    }
  }
}

/* Prevent width overflow */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.form-control::-webkit-input-placeholder {
  color: white;
}

.form-control:-moz-placeholder {
  color: white;
}

.form-control::-moz-placeholder-color {
  color: white;
}

.form-control::placeholder {
  color: white;
}

.playwrite-gb-s-example {
  font-family: "Playwrite GB S", cursive;
  font-optical-sizing: auto;
  font-weight: 300;
  /* Change this value as needed */
  font-style: normal;
}