.form-control::-webkit-input-placeholder {
    color: white;
  }
  
  .form-control:-moz-placeholder {
    color: white;
  }
  
  .form-control::-moz-placeholder-color {
    color: white;
  }
  
  .form-control::placeholder {
    color: white;
  }
  